fastapi
uvicorn
pandas
numpy
scikit-learn
joblib
xgboost
python-multipart
python-dotenv

matplotlib
seaborn

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq

chromadb
sentence-transformers
huggingface_hub