fastapi
uvicorn
pandas
numpy
scikit-learn
scipy
joblib
xgboost

python-dotenv
python-multipart

matplotlib
seaborn
openpyxl

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq

chromadb
sentence-transformers
huggingface_hub
faiss-cpu

requests
pydantic
groq